@{
    ViewBag.Title = "About me";
}



<div class="row">
    <div class="col-lg-6">
        <img src="~/P_20180220_131821_BF.jpg" style="width:250px">
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-3">姓名 :</div>
            <div class="col-lg-3">Ching</div>
        </div>
        <div class="row">
            <div class="col-lg-3">國籍 :</div>
            <div class="col-lg-3"> Taiwan</div>
        </div>
        <div class="row">
            <div class="col-lg-3">性別 :</div>
            <div class="col-lg-3"> Female</div>
        </div>
        <div class="row">
            <div class="col-lg-3">E-Mail :</div>
            <div class="col-lg-3"> kup1125@gmail.com</div>
        </div>

    </div>
</div>

